#image{
    height:50%;
    width:80%;
    margin-left: 0px;
    margin-top: 0%
}
#style-body{
    height:70%;
    font-weight: bold;
    color:black;
    padding:50px;
    text-transform: uppercase;
    background: linear-gradient(40deg,rgb(235, 160, 160),rgb(212, 202, 202),rgb(199, 199, 241));
    border: 1px solid white;
}
#style-body .card-body{
    margin-top: -15px;
    font-size: larger;
    overflow-wrap: normal;
}
#style-body:hover{
    background: white;
    border: 1px solid rgb(216, 211, 211);

}
 #card-style .card-body{
    margin-top: -2%;
    margin-left: 80%;
  border-radius: 10px;
  font-weight: bold;
  padding:10px;
  text-decoration: underline;
  color:rgb(240, 109, 109);
  width:20%;
  border:1px solid rgb(240, 109, 109)
}

/* Responsive design */
@media screen and (min-width:320px) and (max-width:424px){
    #image{
        width:150%;
        margin-left: -30px;
        margin-top: -10px;
    }
    #style-body{
        color:black;
        padding:0px;
    }
    .category{
        margin-left: 20px;
    }
}