.top-detail{
    margin-top:30px ;
}
#name{
    font-weight: bold;
    text-decoration: underline;
    margin-top:50px;
    margin-left:0px;
    color:rgb(95, 92, 92);
    text-transform: uppercase;
}
#aboutus,#whatisit{
    color:rgba(19, 122, 45, 0.904);
    font-weight:bold;
    margin-top:5px;
}
#h3{
    color:rgba(19, 122, 45, 0.904);
    font-weight:bold;
    margin-top:5px;
}

#intro-answer,#checkitout,#about-company{
    font-size: 15px;
    line-height: 27px;
}


#style-box{
    padding: 10px;
    margin-top: 0%;
    border-radius: 70px;
    box-sizing: border-box;
    border: 1px solid grey;
    text-align: center;

}
#style-box h4,#style-box a{
    color:rgba(85, 9, 15, 0.973);
    font-weight: bolder;
    text-transform: uppercase;
}
#style-box a{
    font-size: smaller;
}
.alert{
 width:100%;
 margin: 5px;
 padding: 25px;
}
#style-alert{
    margin-left: 38%;
    font-size: large;
    text-transform:uppercase;
}
.detail-image{
    margin-top: 0px;
    margin-left: 30%;
    width:50%;
}
.a{
 table-layout: auto;
 margin:10px;
 width:100%;
}
.a th{
 text-transform: uppercase;
}
.a #td {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
    background-color: rgb(228, 250, 221);
}