.top-detail{
    margin-top:50px ;
}
#name{
    font-weight: bold;
    text-decoration: underline;
    margin-top:50px;
    margin-left:0px;
    color:rgb(95, 92, 92);
    text-transform: uppercase;
}
#aboutus{
    color:rgba(19, 122, 45, 0.904);
    font-weight:bold;
    margin-top:5px;
}
#h3{
    color:rgba(19, 122, 45, 0.904);
    font-weight:bold;
    margin-top:5px;
}


#style-box{
    padding: 10px;
    margin-top: 0%;
    border-radius: 70px;
    box-sizing: border-box;
    border: 1px solid grey;
    text-align: center;

}
#style-box h4,#style-box a{
    color:rgba(85, 9, 15, 0.973);
    font-weight: bolder;
    text-transform: uppercase;
}
.alert{
 width:100%;
 margin: 5px;
 padding: 25px;
}
#style-alert{
    margin-left: 40%;
}
.detail-image{
    margin-top: 0px;
    margin-left: 30%;
    width:50%;
}