#style-auth .nav-link{
    display: inline-block;
}

#style-auth {
    padding-left: 10px;
}

@media screen and (max-width:665px){
     /* .navbar{
          display:block
     } */
      .input-style{
        display:block
      }
      #style-auth{
          margin-left: 60%;
          padding:5px;
      }
}

@media screen and (max-width:575px){
    .navbar{
         display:block
    }
     .input-style{
       padding-top:20px
     }
     .input-style input{
        padding-left:60px
      }
     #style-auth{
         margin-left: 40%;
         padding:0px;
     }
     #button-style{
         position: relative;
         top:-40px;
         
     }
}
 

@media screen and (max-width:425px){
    #style-auth{
        margin-left: 35%;
        padding:0px;
    }  
}
@media screen and (max-width:375px){
    #style-auth{
        margin-left: 32%;
        padding:0px;
    }  
}
@media screen and (max-width:320px){
    #style-auth{
        margin-left: 30%;
        padding:0px;
    }  
}