.form-control:focus{
    box-shadow: none;
    border:1px solid white;

}
#jumbo{
background:url("./log-images/loginimg.jpg") center center no-repeat;
background-size: 100% 55%;
height: 500px;

}
#button{
    margin-top: 10px;
    width:25%;
    border-radius:15px ;
    margin-left: 40%;
}
.form{
    padding:40px;
}
#cont{
   margin-top: 100px; 
}
@media screen and (max-width:425px){
    .signin-container{
        margin-top: 0px; 
     }
     #button{
        margin-top: 10px;
        width:50%;
        border-radius:15px ;
        margin-left: 20%;
    }
    .form{
        padding:20px;
    }
    #jumbo{
        height:300px;
    }
    #cont{
        margin-top: 0px; 
     }
}