@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body,html{
    font-family:'Montserrat', sans-serif; 
    width:100%;
    overflow-x: hidden;
    margin: 0;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  /* background: linear-gradient(63deg,rgb(212, 218, 218),rgb(235, 221, 221)); */
}

