@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body,html{
    font-family:'Montserrat', sans-serif; 
    width:100%;
    overflow-x: hidden;
    margin: 0;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: linear-gradient(63deg,rgb(252, 253, 253),rgb(228, 221, 221));
}

